.ios-status-bar-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 1px 6px;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ios-status-bar-overlay .ios-status-bar-overlay-left {
    width: 30vw;
    flex-grow: 1;
    text-align: left;
    order: 1;
}

.ios-status-bar-overlay .ios-status-bar-overlay-center {
    width: 40vw;
    flex-grow: 1;
    text-align: center;
    order: 2;
}

.ios-status-bar-overlay .ios-status-bar-overlay-right {
    width: 30vw;
    flex-grow: 1;
    text-align: right;
    order: 3;
}

.ios-status-bar-overlay .ios-status-bar-overlay-left .circle {
    display: inline-block;
    margin: 0 2px 0 0;
    border: 1px solid #fff;
    background-color: transparent;
    height: 11px;
    width: 11px;
    border-radius: 100%;
}

.ios-status-bar-overlay .ios-status-bar-overlay-right .icon {
    margin: 0 0 0 5px;
}

.ios-status-bar-overlay .ios-status-bar-overlay-left .circle.circle-filled {
    background-color: #fff;
}

.ios-status-bar-popup-body {
    min-width: 200px;
    padding: 10px;
    background-color: #ffffff;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

.ios-status-bar-popup-body .ios-status-bar-popup-title {
    line-height: 1.3rem;
    margin: 5px 0 15px;
}

.ios-status-bar-popup-body .ios-status-bar-popup-title .ios-status-bar-popup-title-icon {
    height: 22px;
    border-radius: 4px;
}

.ios-status-bar-popup-body .ios-status-bar-popup-button {
    display: block;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 10px;
}


